<IfModule mod_rewrite.c>
 Options +FollowSymlinks
 RewriteEngine on

 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f

 #RewriteRule ^(([^\.]*\.[jpg|gif|png|jpeg])(.*))$ /img?$2$3
 RewriteRule ^(.*)$ index.php [QSA,PT,L]
 Options FollowsymLinks
</IfModule>